<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="constr" connectionString="Data Source=localhost;port=3306;Initial Catalog=kshitij_clms;User Id=root;password=kis1601"/>-->
    <!--<add name="constr" connectionString="Provider=MSDASQL;Driver={MySQL ODBC 5.1 Driver};Server=localhost;Database=kshitij_clms;User=root;Password=kis1601;Option=3;"/>-->
    <!--<add name="const" connectionString="Data Source=DESKTOP-QJSOJD3\SQLSERVER; Initial Catalog=clms; User ID=sa; Password=a;" />-->
    <add name="const" connectionString="Data Source=.\SQLEXPRESS2014;Database=clms2;trusted_connection=true;"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>